.hidden {
    display: none;
}

body {
    font-family: 'walter', 'Turncoat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
	padding-left: 200px;
	padding-right: 100px;
}

.box-color {
	color: #fff;
	margin: 0;
    text-align: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: solid 1px black;
}

a{
    text-decoration: none;
}

.grid {
    display: grid;
    padding-right: 4px; 
    grid-template-columns: repeat(12, 145px);
    grid-column-gap: 16px;
}

#main-header{
    width: 1200px;
    height: 120px;
    background-color: ivory;
    margin: 0 auto;
}

ul li {
    display: inline-block;
}

#header-logo {
    grid-column: 1/2;
    margin-top: 19px;
    margin-left: 15px;
}

#header-nav {
	width: 1200px;
    height: 102px;
	grid-column: 2/6;
	margin-top: 30px;
    font-size: 20px;
}

#header-nav li a{
    padding-left: 20px;
    color: Black;
    font-family: 'walter', Arial, Helvetica, sans-serif;
}

#header-nav li a:hover {
	text-align: center;
    color: Blue;
    font-weight: 600;
}

#sign-up {
	color: red;
	margin-top: 35px;
	width: 150px;
	height: 50px;
	grid-column: 7/8;
	background-color: black;
}

#form {
    background-color:lightcyan;
    width: 1200px;
    margin: 0 auto;
}

#form h2 {
    color: brown;
    margin-left: 470px;
    font-size: 50px;
    padding-top: 10px;
    font-weight: 100;
}

#identity .box {
    width: 600px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 15px;
    text-align: center;
    color: grey;
    margin-left: 250px;
}

#identity #first-name {
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
}

#identity.box  #first-name {
    grid-column: 1/5;
}

#identity #last-name {
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
}

#identity.box  #last-name {
    grid-column: 6/10;
}

#identity #email-address {
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
}

#identity #email-box {
    border: solid 1px black;
    width: 600px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
    color: grey;
    margin-left: 250px;
}

#identity.box  #email {
    grid-column: 6/10;
}

#identity #confirm-email #confirm-email-box {
    border: solid 1px black;
    width: 600px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
    color: grey;
    margin-left: 250px;
}

#identity #confirm-email {
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
}

#identity #contact {
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
}

#identity #contact #contact-box {
    border: solid 1px black;
    width: 600px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
    color: grey;
    margin-left: 250px;
}

#identity #address {
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
}

#identity #address #city-box {
    border: solid 1px black;
    width: 600px;
    height: 60px;   
    border-radius: 50px;
    text-align: center;
    color: grey;
    margin-left: 250px;
}

#address #province-box {
    border: solid 1px black;
    width: 600px;
    height: 60px;   
    border-radius: 50px;
    margin-top: 10px;
    text-align: center;
    color: grey;
    margin-left: 250px;
}

#identity #describe{
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
}

#identity #describe #describe-box {
    border: solid 1px black;
    width: 600px;
    height: 200px;
    border-radius: 50px;
    text-align: center;
    color: grey;
    margin-left: 250px;
}

#submit {
color: white;
width: 200px;
height: 50px;
grid-column: 4/5;
background-color: black;
margin-left: 480px;
margin-top: 40px;
margin-bottom: 30px;
}

#submit:hover {
    color: white;
    background-color:red;
    font-size: 20px;
}

#footer-con {
	margin-top: 2px;
	margin-bottom: 3px;
}

#footer-site {
	width: 1200px;
    height: 580px;
    background-color: lightyellow;
    padding-top: 100px;
	color: black;
    margin: 0 auto;
}

#footer-site h2 {
	font-size: 40px;
	color: navy;
	text-align: center;
}

#footer-site ul li {
	color: black;
	font-size: 25px;
}

#footer-site #site1 {
	grid-column: 2/3;
}

#footer-site #site2 {
	grid-column: 4/5;
}

#footer-site #site3 {
	grid-column: 6/7;
}

#terms-Con {
    width: 1200px;
    height: 200px;
    background-color:grey;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

#terms-con li a {
	color: black;
}
#terms-tc li:last-child {
	padding-left: 30px;
}

#terms-con #footer-sns {
	grid-column: 6/8;

}

#footer-sns a{
	grid-column: 6/8;
	height: 80px;
	margin-right: 20px;
	margin-left: 50px;
}
